<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <title>Test Task</title>
    </head>
    <body>
        <section class="test_project" style="margin-left: 50px">
            <a href="{% url 'init' %}">Назад к списку</a>
            <h3 class="text-left">Имя картинки</h3>
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <p class="text-left">Ширина</p>
                <p class="text-left"><input type="text"></p>
                <p class="text-left">Высота</p>
                <p class="text-left"><input type="text"></p>
                <p class="text-left"><input type="submit" value="Отправить"></p>
             </form>
             {% load static %}
             <img  src={% if files %}"{% static files %}"{% else %}"{% static urls %}"{% endif %} width="200" height="200">
        </section>
    </body>
</html>